<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Add New Course</h2>
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="add(f.value)">
            <div class="form-group">
              <label for="title">title</label>
              <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control"
                required>
              <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                title is required.
              </div>
            </div>
            <div class="form-group">
              <label for="url">url</label>
              <input #url="ngModel" ngModel name="url" id="url" type="url" class="form-control"
                required>
              <div class="alert alert-danger" *ngIf="url.touched && url.invalid">
                url is required.
              </div>
            </div>
            <div class="form-group">
                <label for="category">category</label>
                <input #category="ngModel" ngModel name="category" id="category" type="category" class="form-control"
                  required>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                  category is required.
                </div>
              </div>
              <div class="form-group">
                  <label for="description">description</label>
                  <input #description="ngModel" ngModel name="description" id="description" type="description" class="form-control"
                    required>
                  <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    description is required.
                  </div>
                </div>
            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
          </form>
    </div>
  </div>
</div>